# Core dependencies
python-telegram-bot
python-telegram-bot[job-queue]

# Database & Time
pytz~=2024.1

# HTTP & Scraping
requests~=2.32.3
cloudscraper~=1.2.71
beautifulsoup4~=4.12.3

# Data processing
pandas~=2.2.2

# WebFlask~=3.0.3

# Utilities
asyncio  # built-in